
<li class="nav-item has-treeview">
    <a href="#" class="nav-link active">
        <i class="nav-icon fas fa-adjust"></i>
        <p>
            Administracion
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview" style="display: none;">
        <li class="nav-item">
            <a asp-controller="conceptos" asp-action="Index" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Conceptos</p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-controller="empleados" asp-action="Index" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Empleados</p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-controller="categoriasproductos" asp-action="Index" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Categorias Productos</p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-controller="roles" asp-action="Index" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Categorias Usuarios</p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-controller="categoriasproductos" asp-action="Index" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Categorias Productos</p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-controller="users" asp-action="Index" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Usuarios</p>
            </a>
        </li>
    </ul>
</li>