<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <title>Adminlte 3 | Starter</title>
    <partial name="~/Views/Adminlte/_Styles.cshtml" />

</head>
<body class=" layout-fixed sidebar-mini">
    <div class="wrapper">
        <partial name="~/Views/Adminlte/_TopNavigation.cshtml" />
        <partial name="~/Views/Adminlte/_MainNavigation.cshtml" />
        <div class="content-wrapper">
            <div class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
        </div>
        <partial name="~/Views/Adminlte/_Footer.cshtml" />
    </div>
    <partial name="~/Views/Adminlte/_Scripts.cshtml" />
</body>
</html>

