
<li class="nav-item has-treeview">
    <a href="#" class="nav-link active">
        <i class="nav-icon fas fa-box-open"></i>
        <p>
            Cajas
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview" style="display: none;">
        <li class="nav-item">
            <a asp-controller="cajas" asp-action="Index" class="nav-link active">
                <i class="far fa-circle nav-icon"></i>
                <p>Caja v1</p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-controller="liquidaciones" asp-action="Index" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Liquidaciones</p>
            </a>
        </li>
    </ul>
</li>